Options +FollowSymlinks
RewriteEngine On
#disallow directory access
Options All -Indexes

#prevent folder listing
IndexIgnore *

RewriteBase /
RewriteCond %{HTTP_HOST} ^website.com
RewriteRule (.*) http://www.website.com/$1 [R=301,L]
