body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/*a{
  text-decoration: none;
  color: black;
}*/
input{
  border: 1px solid #ccc!important;
  border-radius: 0px!important;
}
button{
  border: 1px solid #ccc!important;
  border-radius: 0px!important;
  background: white!important;
  width: 100%!important;
}


th{
  padding: 10px 0px!important;
  text-align: center;
  width: 150px;
  max-width: 150px;
  border-top: 1px solid #888888;
  border-left: 1px solid #888888;
  border-bottom: 1px solid #888888;
  background: #eee;
}

td{
  padding: 10px 0px!important;
  text-align: center;
  width: 150px;
  max-width: 150px;
  overflow: hidden;
  border-bottom: 1px solid #888888;
  border-left: 1px solid #888888;
}

.right{
  border-right: 1px solid #888888;
}
tr.odd{
  padding: 10px 0px!important;
  text-align: center;
  width: 150px;
  border: 1px solid #888888;
  background: white!important;
}

tr.even{
  padding: 10px 0px!important;
  text-align: center;
  width: 150px;
  border: 1px solid #888888;
  background: #eee!important;
}

thead{
  background: #ccc!important;
}
table.dataTable tr.odd td.sorting_1 {
    background-color: white!important;
}
table.dataTable tr.even td.sorting_1 {
    background-color: #eee!important;
}

.dataTables_info {
    display: none!important;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
    text-align: left;
    padding-left: 5px!important;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    border-color: #888!important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: black!important;
    cursor: default;
    background-color: #eee!important;
    border-color: #888!important;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
    border-color: #888!important;
}

.Form{
  background: #eee;
  border: 1px solid #888888;
  padding: 10px;
}

.modal-footer .btn+.btn {
    margin-top: 10px;
    margin-left: 0px;
}
.creat{
  position: relative;
  bottom: 38px;
}
.create{
  padding: 6px 8px;
  background: #eee;
  border: 1px solid #888888;
  text-decoration: none;
  color: black;
}

.create:hover{
  background: white;
  color: black;
}

.btn-default {
  text-shadow: 0 1px 0 #fff;
  background-image: none!important;
  filter: none!important;
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  border-color: #ccc;
  width: 100%;
}

.btn-default:hover{
  background: #eee!important;
}
.pdf{
  text-decoration: none!important;
  color: black!important;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
